<%- include('../partials/header') %>
    <h1>Edit Post</h1>
    <form action="/users/<%= user.id %>/posts/<%= post.id %>" method="POST">
        <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%= post.title %>">
        </div>
        <div class="col-md-4 mb-3">
            <label for="img">Recent words learned</label>
            <input type="text" id="recentWords" name="recentWords" value="<%= post.recentWords %>">
        </div>
        <div class="col-md-6 mb-3">
            <label for="content">Content</label>
            <textarea type="text" id="content" name="content" value="" required><%= post.content %></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

<%- include('../partials/footer') %> 